@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

/* Hero */
.bg-hero-pattern {
  background-image: url('https://www.casadomicroondas.com.br/images/site/casa-microondas-curitiba.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 80vh; /* altura da área de destaque, ajuste conforme quiser */
  padding: 1px 20px; /* espaço superior e inferior */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: white; /* ajuste conforme a imagem de fundo */
  background-color: rgba(0, 0, 0, 0.5); /* leve fundo escuro para legibilidade */
  padding: 20px;
  border-radius: 10px;
}

